version: "3.8"

services:
  backend:
    build: ./backend
    container_name: proyecto_backend
    ports:
      - "4000:4000"
    restart: always

  frontend:
    build: ./frontend
    container_name: proyecto_frontend
    depends_on:
      - backend
    ports:
      - "8080:80"
    restart: always
